/*Yellow Color
	#e3b40f;
*/
html {
	height: 100%;
}

body {
	background-color: black;
}

ul {
	padding: 0px;
	margin: 0px;
}

ul li {
	list-style-type: none;

}

a {
	color: inherit;
}

button {
	background-color: white;
	color: black;
	outline: none;
}

a:hover {
	color: #e3b40f;
	text-decoration: none;
}

a.button {
	background-color: white;
	color: black;
	padding: 5px 4%;
	font-size: 12px;
}

a.button:hover {
	background-color: black;
	color: white;
}


span.news, 
span.tour {
	border-left: 3px solid #e3b40f;
	padding-left: 8px;
	font-size: 30px;
}



.sidebr {
	position: fixed;
	height: 100%;
	width: 350px;
	background-color: #0a0a0a;
	color: white;
}

.sidebar_logo {
	padding: 80px 8px 25px 0px;
}

.sidebar_item {
	font-size:20px;letter-spacing:5px;padding: 15px 0px 15px 0px;
}

.content {
	padding-top: 0px;
	padding-left: 350px;
}

.hero-image {
	background: url("hero.jpg");
	height: 400px;

	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section__1,
.section__2, 
.section__3, 
.section__4, 
.section__5{
	padding: 30px 30px 0px 25px;
}

.card_1, 
.card_2, 
.card_3 {
	padding: 0px;
	margin-top: 15px;
	border: 7px solid black;
}

.col-4.card_1 {
	border-radius: 15px;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), 
	url("news1.jpg")/*url(hero_bg_image.png)*/;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 250px;
}

.col-4.card_2 {
	border-radius: 15px;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), 
	url("news2.jpg")/*url(hero_bg_image.png)*/;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 250px;
}

.col-4.card_3 {
	border-radius: 15px;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), 
	url("news3.jpg")/*url(hero_bg_image.png)*/;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 250px;
}

.ul_tour {
	padding-top: 5px;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


span.date {
	color: rgba(255, 255, 255, 0.62);
	font-size: 12px;
	display: block;
}

p.news__header {
	font-size: 16px;
	letter-spacing: 2px;
}

.col-12.music {
	margin-bottom: 20px;
	padding: 0px;
	border-left: 10px solid black;
	border-right: 10px solid black;
}

.col-12.availtxt {
	margin: 10px 0px 5px 0px;
}

.col-6.video{
	padding: 0px 0px 0px 20px;
}

.row.music {
	padding-left: 10px; 
	padding-top: 15px;
}

.row.store {
	padding: 10px 50px 0px 50px
}
.col-3 {
	padding: 0px;
	margin: 0px;
}

.li_tour {
	padding: 10px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.product_name{
	display: block;line-height: 1px;margin-top: 35px;

}

.row.news {
	padding-left: 15px;
}

ul li:last-child {
   border-bottom: 0;
}
