body, html {
    height: 100%;
    background-color: #efe7e7;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
	margin: 0px;
	padding: 0px;
}

ul {
  list-style-type: none;
}

.dblock {
	display: block;
}


/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("close-up-close-up-fingers-1249214.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.row.artists {
	/*
	original :
	padding: 5% 2% 5% 17%;
	*/
	padding: 7% 2% 0% 17%;
}

.row.artists2 {

	padding: 5% 2% 7% 17%;
}


.artist_thumb{
	border: 10px solid white;
}

.col-5 {
	padding: 0px;
}

.col-4.artist-details {
	padding: 10% 0px 0px 2%;
}

h3 {
	color: rgba(0, 0, 0, 0.55);
}

p.artist-label {
	line-height: 0px;
	color: rgba(0, 0, 0, 0.55);
	text-transform: uppercase;
	font-size: 10px;
}

p.artist-shortdetails {
	color: rgba(0, 0, 0, 0.69);
}

button.button-readmore {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid rgba(153, 153, 153, 1);
	padding: 10px 11px;
	font-size: 12px;	
	color: rgba(153, 153, 153, 1);
}



button.button-sample {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 15px;
	font-size: 12px;
	color: white;
	border: 1px solid rgba(153, 153, 153, 1);
	}


.top-right {
    position: absolute;
    top: 50%;
    right:10px;
}

.top-left {
    position: absolute;
    top: 50%;
    left:10px;
}


.next, .prev, .next2, .prev2 {
	display: none;
}

.next:hover {
	height: 31px;
	width: 51px;
	cursor: pointer;
}

.prev:hover {
	height: 31px;
	width: 51px;
	cursor: pointer;
}

.prev {
	transform: rotate(60deg);
}

#hide {
	display: none;
}

.row.appointment {
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding:10% 20%; 
	color: white;
}

.contact-header {
	letter-spacing: 5px;
	display: block;
}

p.font-weight-bold {
	font-size: 12px;
	letter-spacing: 3px;
}




input, textarea {
	padding: 7px 0px 10px 5px;
}

textarea {
	color: black;
	margin-top: 10px;
	width: 100%;
	height: 250px;
	resize: none;
}

table tr td input {
	width: 100%;
	color: black;
}

ul.contact-info li {
	padding: 10px 0px;
}

button.sendmsg {
	font-size: 13px;
	padding: 10px 20px;
	margin-top: 25px;
	background: #404040;
	border: 0px solid black;
	color: white;
}


button.sendmsg:hover {
	background-color: black;
}

/*I.G*/
.col-3.ig{
	border: 1px solid white;
	padding: 0px;
	border-bottom: 0px;
}



.landscape1 {
	padding-top: 1px;
}


.row.footer {
	background-color: #0f0f0f;
	padding: 50px 20%;
}
.row.social {
	margin-top: 25px;
	padding: 0px 20%;
}
.row.social.col-3 {
	padding: 0px;
}

.ig-icon {
	margin-right: 15px;
	margin-bottom: 6px;
}

.contact-header.getinked-color {
	color: rgba(0, 0, 0, 0.55);
}

/*.hero-image, .footer, .container {
	display: none;
}












