body, html {
	height: 100%;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
}
ul {
	list-style: none;
	width: 100%;
}

span {
	padding: 0px;
}

p {
	padding: 0px;
	margin: 0px;
	font-size: 45px;
}
button {
	margin: 0px;
}
button:focus {
	outline: none;
}
a:hover{
	text-decoration: none;
}
button:hover {
	background-color: rgba(38, 38, 38, 1);
}
button {
	cursor:pointer;
}
button {
	max-width: 100%;
	padding: 10px 15px;
	margin: 0px;
	font-size: 12px;
	/*px*/
	color: white;
	background-color: black;
	border: 0px;
	border-radius: 5px;
}
h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
	font-weight: 400px;
}
ul {
	font-family: 'Permanent Marker', cursive;
	font-size: 14px;
	font-weight: 400px;
}
/*.nav__txt {
	color: #a1a1a1;
	background:white;
	border-bottom:1px solid #e1e1e1;
	padding: 4px 0px;
}
.nav-link {
	color: #a1a1a1;
}
.nav-item {
	padding: 30px 20px;
}
*/
.navbar {
	padding-left: 50px;
	padding-right: 50px;
}
.navbar-nav li {
	padding-left: 20px;
	padding-right: 20px;
}
.navbar-dark {
	color: white
}
.hero-image {
	background-image: url("hero_bg_image.jpg");
	height:500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-bottom: 2px solid white;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.container {
	padding: 0px 80px;
}
.col-sm-12.col-md-6.col-lg-4.categories,.col-sm-12.col-md-12.col-lg-4.categories{
	padding: 0px;
	text-align: center;
	color:white;
	background-color: blue;
	border:2px solid white;
}

.col-sm-12.col-md-6.col-lg-4.categories:hover .centered {
	display: block;
}

.col-sm-12.col-md-12.col-lg-4.categories:hover .centered {
	display: block;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display:none;
	/*Font*/
	font-family: 'Permanent Marker', cursive;
	font-weight: 400px;
}
.col-12.text-white {
	background-color: black;
}
/* Feature Product */
.row.featured__padding {
	padding: 0px 100px;
}
.col-12.featured__margin {
	margin: 20px 0px 20px 0px;
}
h1.featured__fontsize {
	font-size: 35px;
}
.col-sm-12.col-md-6.col-lg-3 {
	padding: 0px;
	border:6px solid white;
	border-top: 0px solid white;
}

p.product_name {
	font-size: 16px;
	margin-top: 13px;
}

p.product_name > span {
	display: block;
	font-size: 13px;
	color:#b1b1b3;
}

.prdcard__marginpadding {
	margin-top: 0px;
	padding: 12px 7px 10px 10px
}
.product__fs {
	font-size: 17px;
}
.right {
	float: right;
}

.dotted {
	border-top-style: dotted;
	margin-top: 35px;
}

.row.feat__brands {
	padding: 0px 100px;
}

.col-md-6.col-lg-2.brands {
	border-radius:15px;
	padding: 35px 0px;
	border: 5px solid white;
	background-image: url(vansthumb.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.col-md-6.col-lg-2.brands.thumb2 {
	background-image: url(conversethumb.jpg);
}

.col-md-6.col-lg-2.brands.thumb3 {
	background-image: url(zooyorkthumb.jpg);
}

.col-md-6.col-lg-2.brands.thumb4 {
	background-image: url(adidasthumb.jpg);

}

.col-md-6.col-lg-2.brands.thumb5 {
	background-image: url(nikethumb.jpg);
	
}

.col-md-6.col-lg-2.brands.thumb6 {
	background-image: url(emericathumb.jpg);
	
}

.row.branches {
	padding: 0px 100px;
}

.col-sm-12.col-md-6.col-lg-4.branches{
	padding: 0px;
	border:8px solid white;
}

.bcentered {
	color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bcentered > p {
	font-family: 'Space Mono', monospace;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 5px;
	color: white;
}

.bcentered > span {
	font-family: 'Raleway', sans-serif;	
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}


.col-12.footer ul li {
	display: inline-block;
	padding: 0px 30px;
	list-style: none;
	

}

@media only screen and (max-width: 534px) {
	.hero-image {
		background-image: url("mobile_image.jpg");
		height: 400px;
	}
}
@media only screen and (max-width: 820px) {
	.centered p{
		font-size: 6vw;
	}
	button {
		font-size: 3vw;
	}
}
