

body, html {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

textarea {
  resize: none;
}

.centered {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#fphover:hover .centered{
  display:block;
}

#fphover:hover {
  filter: grayscale(100%);
}*/

p {
  font-size:1vw;
}
/*Fonts 
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    line-height: 51px;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
    }

h2 {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
    */

/*Hero Image*/
.hero-image {
 
background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), 
url(full_page_bg_image.png)/*url(hero_bg_image.png)*/;

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/*Arrow*/
.arrow {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.liststylenone {
  list-style-type:none;
  display: inline-block;
}

li {
  padding: 20px 0px;
}

.nav-item {
  padding: 0px;
}

#changeimg1:focus {
  color:blue;
}

#changeimg2:focus {
  color:blue;
}

#changeimg3:focus {
  color:blue;
}

.nav-link {
  color:white;

}

.hide-content-2, .hide-content-3 {
  display: none;
}



@media only screen and (max-width: 700px) {
    .hero-image {
        height: 50%;
    }
}
